<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="compactar_arquivos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <compactar_arquivos.Properties.Settings>
            <setting name="diretorio_orig" serializeAs="String">
                <value>d:\temp</value>
            </setting>
            <setting name="extensao_orig" serializeAs="String">
                <value>*.txt</value>
            </setting>
        </compactar_arquivos.Properties.Settings>
    </userSettings>
</configuration>